version: 2
updates:
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: quarterly
    open-pull-requests-limit: 10
    groups:
      github-actions:
        patterns:
        - "*"
      eslint:
        patterns:
        - '@typescript-eslint/*'
        - '@eslint/*'
        - 'eslint'

  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: quarterly
    open-pull-requests-limit: 10
