.firebase/
.idea/
.vscode/
node_modules/
.DS_Store
public/stories/*
public/sitemap.xml
public/css
public/docs
public/fonts
public/img
public/video
public/index.html
packages/micro-site/.cache
packages/functions/.runtimeconfig.json

# Stories with custom modifications
!public/stories/a-day-in-the-life-of-dap-the-contract
