{
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "overrides": [
    {
      "files": [".eslintrc", ".prettierrc"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
