---
title: Navigating the Dashboard - Web Stories for WordPress
description: The Web Stories dashboard is the central place to manage your stories, change editor-related settings, and explore templates.
layout: layouts/base.njk
rootClass: docs
---

{% set DOCS_BASE = '/docs' %}

<aside>
  <ul id="docs_menu" class="docs_flyout docs_page">
    <span>
      <li>Table of Contents</li>
      <ul id="toc">
        <li><a href="{{ DOCS_BASE }}/getting-started/dashboard/#Dashboard">Manage Stories</a></li>
        <li><a href="{{ DOCS_BASE }}/getting-started/dashboard/#Templates">Available Templates</a></li>
        <li><a href="{{ DOCS_BASE }}/getting-started/dashboard/#Settings">Settings</a></li>
      </ul>
  </span>
  </ul>
</aside>
<main>
  <section>
    <h1>Navigating The Dashboard</h1>

    <h2 id="Dashboard">Accessing the Dashboard</h2>

    <p>
      In your WordPress admin, select Stories from the admin menu to navigate to the Web Stories dashboard where you can manage all your existing stories.
    </p>

    <p class="img-wrap"><amp-img src="./img/docs/getting-started/1.png" layout="intrinsic" height="282" width="168" alt="screenshot visually indicating the location of the Stories admin menu item in WordPress"></amp-img></p>

    <h3>Create your first Web Story</h3>

    <p>From here you can start creating your first Web Story from scratch by clicking on the "Create New Story" button. Alternatively, select "Explore Templates" to jump start with one of the dozens of available templates.</p>

    <p>
      The dashboard also gives you access to a Settings page where you can manage various Web Stories editor-related settings.
    </p>

    <p class="img-wrap"><amp-img layout="intrinsic" width="547" height="402" src="./img/docs/getting-started/create.png"></amp-img></p>

    <h3>Customizing the view</h3>

    <p>
      On the dashboard, you can filter all stories on your site by their status, for example to only see published ones, by selecting the tabs at the top of the dashboard. Select the drop down under the search bar to sort stories by name, date, or their author.
    </p>

    <p class="img-wrap"><amp-img layout="intrinsic" width="591" height="203" src="./img/docs/getting-started/filter-sort-stories.png"></amp-img></p>

    <p>
      View stories as a list by clicking the icon next to the sort drop down and access the classic WordPress table view via the link next to the grid icon in case you need it (for instance for certain plugin integrations). You can also access the classic table view via the "All Stories" admin menu item.
    </p>

    <p class="img-wrap"><amp-img layout="intrinsic" width="400" height="183" src="./img/docs/getting-started/4.png"></amp-img></p>

    <h2 id="Templates">Available Templates</h2>

    <p>
      It’s fun and easier to get started building your first story by using one of the dozens of freely available templates from the Explore Templates page. The templates show layering techniques, interesting use of assets, and playful text. Hover over a template and click "See details" to preview or "Use template" to begin editing.
    </p>

    <p class="img-wrap"><amp-img layout="intrinsic" width="400" height="321" src="./img/docs/getting-started/12.png"></amp-img></p>

    <h2 id="Settings">Managing Settings</h2>

    <p>From the Settings page you can manage various Web Stories editor-related settings. For example, you can <a href="{{ DOCS_BASE }}/seo/#Analytics">set up analytics</a> by simply entering your Google Analytics tracking ID, or set up <a href="{{ DOCS_BASE }}/seo/#Monetization">monetization</a> by entering your Google AdSense details.</p>

    <p>You can also manage publisher logos, enable <a href="{{ DOCS_BASE }}/how-to/media/">built-in video optimization</a>, and much more.</p>

    <p>
      Visit the Settings page via the admin menu or by clicking on "Settings" in the lower section of the Web Stories dashboard.
    </p>

    <p class="img-wrap"><amp-img layout="intrinsic" width="750" height="396" src="./img/docs/getting-started/settings.png"></amp-img></p>
  </section>
</main>
