---
title: Optimize your Workflow - Web Stories for WordPress
description: Speed up your workflow when using Web Stories for WordPress by learning and applying these tips and tricks.
layout: layouts/base.njk
rootClass: docs
---

{% set DOCS_BASE = '/docs' %}

<aside>
  <ul id="docs_menu" class="docs_flyout docs_page">
    <span>
      <li>Table of Contents</li>
      <ul id="toc">
        <li><a href="{{ DOCS_BASE }}/how-to/workflow/#Introduction">Introduction</a></li>
        <li><a href="{{ DOCS_BASE }}/how-to/workflow/#Saved-Styles">Saving &amp; reusing styles &amp; colors</a></li>
        <li><a href="{{ DOCS_BASE }}/how-to/workflow/#Quick-Actions">Quick Actions</a></li>
        <li><a href="{{ DOCS_BASE }}/how-to/workflow/#Floating-Menu">Floating Menu</a></li>
      </ul>
    </span>
  </ul>
</aside>
<main>
  <section id="How-To">
    <h1 id="Introduction">How to use the editor</h1>

    <h2 id="Saved-Styles">Saving &amp; reusing styles &amp; colors</h2>

    <p>
      Save the style of a selected element by clicking the plus button next to "Saved styles" on the Design tab.
    </p>

    <p class="img-wrap">
      <amp-img layout="intrinsic" width="280" height="554" src="./img/docs/how-to/saved-styles.png"></amp-img>
    </p>

    <p>
      You may then apply that style to other elements by selecting them first, then selecting the saved style.
    </p>

    <p>
      If you’d rather only save the foreground color, use the plus button next to the "Saved colors" panel above the "Saved styles" panel. Clicking on a color in this list will only apply the color, and not change any other styles.
    </p>

    <h2 id="Quick-Actions">Quick Actions</h2>

    <p>
      <b>Tip:</b> Relevant actions for your currently selected element are displayed in the so-called Quick Actions menu right next to the canvas. Whether you want to animate your text element or replace an image, it's just one click away.
    </p>

    <p class="img-wrap">
      <amp-img layout="intrinsic" width="383" height="200" src="./img/docs/how-to/quick-actions.png"></amp-img>
    </p>

    <h2 id="Floating-Menu">Floating Menu</h2>
  </section>
</main>
