---
title: Managing Media - Web Stories for WordPress
description: Learn how to effectively use images and videos with the Web Stories WordPress plugin.
layout: layouts/base.njk
rootClass: docs
---

{% set DOCS_BASE = '/docs' %}

<aside>
  <ul id="docs_menu" class="docs_flyout docs_page">
    <span>
      <li>Table of Contents</li>
      <ul id="toc">
        <li><a href="{{ DOCS_BASE }}/how-to/#Media">Inserting media</a></li>
        <li><a href="{{ DOCS_BASE }}/how-to/#Media3P">Third-Party Media Providers</a></li>
        <li><a href="{{ DOCS_BASE }}/how-to/#Add-a-background-image-or-video">Adding a background image or video</a></li>
        <li><a href="{{ DOCS_BASE }}/how-to/#Masking-cropping">Masking &amp; cropping</a></li>
        <li><a href="{{ DOCS_BASE }}/how-to/#Videos">Managing videos</a></li>
      </ul>
    </span>
  </ul>
</aside>
<main>
  <section id="How-To">

    <h1>Inserting media</h1>

    <h2 id="Media">Media Library</h2>

    <p>
      You can add new images, videos, or GIFs to your stories using multiple ways:
    </p>

    <ol>
      <li>Clicking the Upload button</li>
      <li>Dragging media from your computer to the media gallery or Workspace area</li>
      <li>Copy + paste into the editor</li>
      <li>Clicking the Link button and pasting the URL to a media file on another website</li>
    </ol>

    <p class="img-wrap">
      <amp-img layout="intrinsic" width="477" height="376" src="./img/docs/how-to/media-tab.png"></amp-img>
    </p>

    <h3>Supported File Formats</h3>

    <p>
      The editor currently supports most common image &amp; video formats. See also the <a href="{{ DOCS_BASE }}/how-to/media/#Video-File-Formats">the section on video file formats</a>.
    </p>

    <h2 id="Media3P">Third-party Media Providers</h2>

    <p>
      Click on the picture icon in the Element panel’s tabs to switch to third-party media sources, giving you access to millions of images &amp; videos. Currently, the following integrations are available:
    </p>

    <ul class="real-ul">
      <li><a href="https://unsplash.com/">Unsplash</a> (for photos)</li>
      <li><a href="https://coverr.co/">Coverr</a> (for videos)</li>
      <li><a href="https://tenor.com/">Tenor</a> (for GIFs)</li>
    </ul>

    <p><b>Note:</b> Your use of stock content is subject to <a href="{{ DOCS_BASE }}/terms/">third party terms</a>.</p>

    <p class="img-wrap">
      <amp-img layout="intrinsic" width="512" height="458" src="./img/docs/how-to/media3p-tab.png"></amp-img>
    </p>

    <h2 id="Add-a-background-image-or-video">Add a background image or video</h2>

    <p>
      Add a background image or video by selecting an asset and dragging it into the background drop area. Drop targets are outlined in blue. You may alternatively click the "Set as background" option in the design panel after selecting an image.
    </p>

    <p class="img-wrap">
      <amp-img layout="intrinsic" width="369" height="400" src="./img/docs/how-to/14.png"></amp-img>
    </p>

    <p>
      Change the background size and placement by double clicking the image, use the slider to increase or decrease the size and drag it to your preferred position.
    </p>

    <p class="img-wrap">
      <amp-img layout="intrinsic" width="426" height="700" src="./img/docs/how-to/15.png"></amp-img>
    </p>

    <p>
      Click outside the image to exit background placement.
    </p>

    <h2 id="Masking-cropping">Masking &amp; cropping</h2>

    <p>
      Mask and crop images by adding shapes from the Shapes tab in the Element panel to your Web Story page, then drag and drop the image into the shape’s drop target area. Drop targets are outlined in blue.
    </p>

    <p>
      <b>Tip</b>: Media can also be "dropped" into other images. This is very useful if you’d like to keep an images’ position and size, but want to quickly replace the contents.
    </p>

    <p class="img-wrap">
      <amp-img layout="intrinsic" width="400" height="326" src="./img/docs/how-to/16.png"></amp-img>
    </p>

    <p>
      Change image cropping and placement by double-clicking the shape. Use the slider to increase or decrease the size and drag it to your preferred position.
    </p>

    <p class="img-wrap">
      <amp-img layout="intrinsic" width="255" height="400" src="./img/docs/how-to/17.png"></amp-img>
    </p>

    <p>
      Click outside the image to exit placement.
    </p>

    <h2 id="Videos">Managing Videos</h2>

    <p>
      Videos are highly engaging to readers and contribute to the immersiveness of stories. The Web Stories plugin offers several tools to edit and optimize videos, taking care of all the heavy lifting for you.
    </p>

    <p>
      This includes:
    </p>

    <ul class="real-ul">
      <li>Optimizing (compressing) videos</li>
      <li>Converting animated GIFs to videos</li>
      <li>Trimming videos</li>
      <li>Muting videos</li>
    </ul>

    <p>
      For these features to be available, ensure that the Video Optimization setting at <b>Settings &rarr; Video Optimization</b> is turned on.
    </p>

    <p>
      While this feature can be disabled at any time, we highly recommend keeping it enabled.
    </p>

    <p>
      Note that this is only supported in the latest versions of the major browsers (Chrome, Safari, Edge, Firefox, Opera). For Safari, make sure you are using at least version 15.3+.
    </p>

    <h3 id="Video-Settings">Video Settings</h3>

    <p>
      Once you have added a video to a story, it can be edited in the <b>Video Settings</b> panel in the <b>Style</b> tab of the Editor.
    </p>

    <p class="img-wrap">
      <amp-img layout="intrinsic" width="315" height="252" src="./img/docs/how-to/media/video-settings.png"></amp-img>
    </p>

    <p>
      The following options are available:
    </p>

    <ul class="real-ul">
      <li>
        <b>Loop</b><br/>
        When selected, the selected video will restart when finished playing for as long as a user is on the slide with the video
      </li>
      <li>
        <b>Trim</b><br/>
        The Trim tool allows you to trim the video to be shorter. When a video is trimmed, the original video will remain in your media library and a new file for the trimmed version will be added.
      </li>
      <li>
        <b>Remove audio</b><br/>
        This will mute your video by removing the audio track from your uploaded video. The original video will remain in your Media Library and a new version without an audio track will be added to the Library.
      </li>
    </ul>

    <h3 id="Video-Optimization">Video Optimization</h3>

    <p>
      The Web Stories plugin can automatically optimize (compress) videos added to your stories. This works for videos that you upload directly to your story (for example via drag & drop), but also for ones that you add later through the WordPress Media Library.
    </p>

    <p>
      If the Video Optimization setting is turned on, you may see this message when uploading a new video to the editor:
    </p>

    <p class="img-wrap">
      <amp-img layout="intrinsic" width="532" height="172" src="./img/docs/how-to/media/video-optimization-in-progress.png"></amp-img>
    </p>

    <p>
      Video optimization happens on your computer and includes several steps to ensure your videos follow best practices:
    </p>

    <ul class="real-ul">
      <li>Resizing the video if needed so that it does not exceed dimensions of 720x1280px</li>
      <li>Compressing the video to reduce file size</li>
      <li>Transcoding the file to the MP4 (H.264) format to ensure wide browser compatibility</li>
    </ul>

    <p>Optimized videos improve the user experience due to faster loading, and take up less storage space on your site.</p>

    <p>
      <b>Note:</b> To prevent data loss, stories cannot be saved during video optimization and upload.
    </p>

    <h4>Optimizing videos before upload</h4>

    <p>
      While we highly recommend enabling the Video Optimization feature, in some cases it might be easiest and fastest to optimize your videos before uploading them to your site and using them in Web Stories.
    </p>

    <p>
      If you are already optimizing your videos before uploading them to WordPress, it makes sense to disable the feature to avoid having the Web Stories editor compress your already optimized videos.
    </p>

    <p>
      We recommend checking out the <a href="https://creators.google/en-us/content-creation-guides/modern-storytelling-with-web-stories/video-and-images-editorial-guidelines/">video and images editorial guidelines</a> to learn about best practices for manually optimizing videos for use in stories.
    </p>

    <amp-youtube data-videoid="CSYfMp3dI4o" layout="responsive" width="480" height="270"></amp-youtube>

    <h3 id="Video-File-Formats">Supported video file formats</h3>

    <p>
      If the Video Optimization feature is <b>enabled</b>, the Web Stories editor will support a large variety of video file types, such as <code>.webm</code>, <code>.mp4</code>, <code>.mov</code>, <code>.ogg</code>. Videos of these file types will be converted to <code>.mp4</code> during upload.
    </p>

    <p>
      If the Video Optimization feature is <b>disabled</b>, only <code>.webm</code> and <code>.mp4</code> videos are supported by default, as other types of videos are not supported by all browsers.
    </p>
  </section>
</main>
