name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  deploy-firebase:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v3.0.2
        with:
          ref: main
          lfs: true

      - name: Checkout LFS objects
        run: git lfs checkout

      - name: Setup Node
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v3.2.0
        with:
          node-version-file: '.nvmrc'
          cache: npm
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci
        env:
          CI: true

      - name: Test Firebase Function
        run: cd packages/functions && npm run test test/**.test.ts

      - name: Authenticate
        uses: google-github-actions/auth@55bd3a7c6e2ae7cf1877fd1ccb9d54c0503c457c
        with:
          credentials_json: ${{ secrets.FIREBASE_SA_KEY }}

      - name: Setup Cloud SDK
        uses: google-github-actions/setup-gcloud@98ddc00a17442e89a24bbf282954a3b65ce6d200
        with:
          project_id: ${{ secrets.FIREBASE_PROJECT_ID }}

      - name: Download Web Stories
        run: |
          gcloud storage cp "$BUCKET/stories" ./public --recursive
        env:
          BUCKET: ${{ secrets.FIREBASE_BUCKET_NAME }}

      - name: Build website
        run: cd packages/micro-site && npm run build

      - name: Compress images for website and downloaded stories
        uses: calibreapp/image-actions@790ef463cba7b26ed3b1c80c1449deb72d4c0bcc # latest main from July 30, 2023.
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          compressOnly: true
          ignorePaths: 'node_modules/**,micro-site/**,public/static/**'

      - name: Build XML Sitemap
        run: node ./packages/sitemap-generator/index.js ./public/sitemap.xml

      - name: Deploy to Firebase
        uses: w9jds/firebase-action@50971599cb12686ca6f1156f561875f4f1f2c63b # v2.2.0
        with:
          args: deploy
        env:
          GCP_SA_KEY: ${{ secrets.FIREBASE_SA_KEY }}
          PROJECT_ID: ${{ secrets.FIREBASE_PROJECT_ID }}
