name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  deploy-firebase:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v3.0.2
        with:
          ref: main
          lfs: true

      - name: Checkout LFS objects
        run: git lfs checkout

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v3.2.0
        with:
          node-version-file: '.nvmrc'
          cache: npm
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci
        env:
          CI: true

      - name: Test Firebase Function
        run: cd packages/functions && npm run test test/**.test.ts

      - name: Authenticate
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093
        with:
          credentials_json: ${{ secrets.FIREBASE_SA_KEY }}

      - name: Setup Cloud SDK
        uses: google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db
        with:
          project_id: ${{ secrets.FIREBASE_PROJECT_ID }}

      - name: Download Web Stories
        run: |
          gcloud storage cp "$BUCKET/stories" ./public --recursive
        env:
          BUCKET: ${{ secrets.FIREBASE_BUCKET_NAME }}

      - name: Build website
        run: cd packages/micro-site && npm run build

      - name: Compress images for website
        uses: calibreapp/image-actions@05b1cf44e88c3b041b841452482df9497f046ef7 # latest main from July 2, 2024.
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          compressOnly: true
          ignorePaths: 'node_modules/**,packages/micro-site/**,public/static/**,public/e2e-tests/**,public/stories/**'

      - name: Build XML Sitemap
        run: node ./packages/sitemap-generator/index.js ./public/sitemap.xml

      - name: Deploy to Firebase
        uses: w9jds/firebase-action@cfc7b6a8d77d914cad3c32517b866e3392c51ab1 # v14.23.0
        with:
          # --force is required because we're using minInstances=1.
          args: deploy --force
        env:
          GCP_SA_KEY: ${{ secrets.FIREBASE_SA_KEY }}
          PROJECT_ID: ${{ secrets.FIREBASE_PROJECT_ID }}
