name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main

jobs:
  deploy-firebase:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2
        with:
          ref: main
          lfs: true

      - name: Checkout LFS objects
        run: git lfs checkout

      - name: Setup Node
        uses: actions/setup-node@17f8bd926464a1afa4c6a11669539e9c1ba77048 # v3.2.0
        with:
          node-version-file: '.nvmrc'
          cache: npm
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci
        env:
          CI: true

      - name: Test Firebase Function
        run: cd packages/functions && npm run test test/**.test.ts

      - name: Download Web Stories
        run: cat ./stories.txt | xargs -I{} node ./packages/web-stories-scraper/index.js {} ./public/stories/

      - name: Undo changes to local stories
        run: |
          git checkout public/stories/a-day-in-the-life-of-dap-the-contract/index.html

      - name: Build website
        run: cd packages/micro-site && npm run build

      - name: Compress images for website and downloaded stories
        uses: calibreapp/image-actions@737ceeaeed61e17b8d358358a303f1b8d177b779 # v1.1.0
        with:
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          compressOnly: true
          ignorePaths: 'node_modules/**,micro-site/**,public/static/**'

      - name: Build XML Sitemap
        run: node ./packages/sitemap-generator/index.js ./public/sitemap.xml

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@276388dd6c2cde23455b30293105cc866c22282d # v0.6-alpha
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SA_KEY }}
          projectId: ${{ secrets.FIREBASE_PROJECT_ID }}
          channelId: live
