name: Lint & Test

on:
  push:
    branches:
      - main
  pull_request:

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v3.0.2
        with:
          ref: main
          lfs: true

      - name: Setup Node
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v3.2.0
        with:
          node-version-file: '.nvmrc'
          cache: npm
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci
        env:
          CI: true

      - name: Lint
        run: npm run lint:js

      - name: Test Firebase Function
        run: cd packages/functions && npm run test test/**.test.ts
